:root {
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    --primary-blue: #233975;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

h3 {
    font-size: 1rem;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: var(--primary-blue);
}

a:hover {
    text-decoration: underline;
}

.split-screen {
    display: flex;
    flex-direction: column;
}

.left {
    height: 200px;
}

.left,
.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
        url("../images/background.png");
    background-size: cover;
}

.left .copy {
    color: white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-oxs-font-smoothing: grayscale;
}


.right .copy {
    color: black;
    text-align: left;
}

.right .copy h3 {
    margin-top: -15px;
    margin-bottom: 20px;
}

.right form {
    width: 400px;
}


form input[type="email"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 0.7em;
    margin-bottom: 10px;
    font-size: auto;
}


label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}



.sign-btn {
    display: block;
    width: auto;
    background: #4169e1;
    color: white;
    font-weight: 700;
    border: none;
    padding: 0.8rem;
    border-radius: 20px;
    font-size: auto;
    text-transform: uppercase;
    letter-spacing: auto;
    text-align: center;
}

.sign-btn:hover {
    background: #2c4893;
    cursor: pointer;
}

@media screen and (min-width: 900px) {
    .split-screen {
        flex-direction: row;
        height: 100vh;
    }

    .left,
    .right {
        display: flex;
        width: 50%;
        height: auto;
    }
}